.backcategoryBtn {
  margin: auto;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

* {
  text-align: center;
}

.errorMsg {
  margin: auto;
  width: 100%;
  text-align: center;
  color: red;
}