* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  /* background-color: #ff8200; */
  margin: 0px;
}

.container {
  width: 100%;
}

.mainHeader {
  height: 100%;
  align-items: center;
  display: flex;
  background-color: white;
  width: 100%;
}

#titleLabel {
  width: inherit;
}

.innerHeader {
  display: flex;
  margin-left: 20px;
  width: 100%;
  height: inherit;
}

.logo {
  height: 60px;
  width: 60px;
}

.companyName {
  color: #1f7eae;
  margin-bottom: 0px;
  margin-top: 12px;
}

.companyTag {
  color: #e34911;
  margin-top: 0px;
}

.navDiv {
  height: 30px;
  width: 100%;
  text-align: center;
  background-color: #ff8200;
}

.navBar {
  font-size: larger;
  height: 100%;
}

.userSignIn {
  width: 10%;
  padding-top: 10px;
}

.leftpanel {
  width: 20%;
  background-color: #ff8200;
  margin-top: 5px;
}

.titleContainer {
  display: flex;
  background-image: url('../images/travelback.jpg');
}

.headContainer {
  width: 100%;
  height: 100%;
}

a {
  color: white;
  text-decoration: none;
}

.leftpanelItem {
  padding: 25px;
  font-size: larger;
  color: white;
  cursor: pointer;
}

.leftpanelItem:hover {
  background-color: #cf7000;
}

a:hover {
  color: white;
}

.menu {
  width: 85px;
  color: white;
  background: none;
  border: none;
  font-size: large;
  cursor: pointer;
  height: 28px;
  font-family: "Times New Roman", Times, serif;
}

.menu:hover {
  color: black;
}

#view {
  width: 80%;
  background-color: white;
  margin-left: 5px;
}

.footerContainer {
  background-color: white;
  padding-left: 20px;
  padding-top: 12px;
}

.content {
  display: flex;
  width: 100%;
  min-height: 557px;
}

.padding20 {
  padding: 20px;
}

.homeContent {
  width: 80%;
  position: relative;
  margin: 50px auto;
}

.grid-item--width1 {
  width: 25%;
}

.grid-item--width2 {
  width: 50%;
}

.grid-item {
  float: left;
  height: 230px;
  background-color: #fff !important;
  border: 2px solid #ffffff;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  overflow: hidden;
}

.grid-item--height2 {
  height: 460px;
}

.highlight {
  background-color: #ff161a;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1,
    startColorstr='#FFFF161A', endColorstr='#FFA810B1');
  background-image:
    url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP�dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
  background-size: 100%;
  background-image: -moz-linear-gradient(0deg, #ff161a 0%, #a810b1 100%);
  background-image: -webkit-linear-gradient(0deg, #ff161a 0%, #a810b1 100%);
  background-image: linear-gradient(90deg, #ff161a 0%, #a810b1 100%);
}

.saleMalaysia {
  background: url(../images/malaysiaMegaSale.jpg);
  /* position:absolute; */
  left: 49.9426%;
  top: 0px;
}

.dubaiShopping {
  background: url(../images/DubaiShoppingFestival.jpg);
  /* position:absolute; */
  left: 0%;
  top: 230px;
}

.article-box h2 {
  /* position: absolute; */
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 180px 20px;
  color: #ffffff;
  font-size: 16px;
}

.article-large-box h2 {
  /* position: absolute; */
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 415px 20px;
  color: #ffffff;
  font-size: 16px;
}

.h2Image {
  font-family: 'sansationbold';
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 15% 0%;
  text-align: center;
}

.franceKite {
  background: url(../images/franceKiteFest.jpg);
  /* position:absolute; */
  left: 24.9287%;
  top: 230px;
}

.germanFest {
  background: url(../images/germanyfest.jpg);
  /* position:absolute; */
  left: 0%;
  top: 460px;
}

.dubaiEid {
  background: url(../images/EidAlFitr.jpg);
  /* position:absolute; */
  left: 49.9426%;
  top: 460px;
}

.wesakMal {
  background: url(../images/wesak-day-malaysia.jpg);
  /* position:absolute; */
  left: 74.9564%;
  top: 460px;
}

.francesummer {
  background: url(../images/franceSummer.jpg);
  /* position:absolute; */
  left: 49.9426%;
  top: 690px;
}

.germanywine {
  background: url(../images/germanyApplewine.jpg);
  /* position:absolute; */
  left: 74.9564%;
  top: 690px;
}

.nationalDay {
  background: url(../images/nationaldayfestival.jpg);
  /* position:absolute; */
  left: 0%;
  top: 920px;
}

.colorofMalaysia {
  background: url(../images/citrawarna-colours-of-malaysia-festival.jpg);
  /* position:absolute; */
  left: 49.9426%;
  top: 920px;
  margin-bottom: 50px;
}

.twoTile {
  display: inline-flex;
}

.mainTile {
  display: flex;
}

.singleLargeTile {
  width: 100%;
}

.rate0 {
  width: 106px;
  height: 21px;
  background-image: url(../images/rate.png);
  background-position: 0px 0px;
}

.rate1 {
  width: 106px;
  height: 21px;
  background-image: url(../images/rate.png);
  background-position: 0px -20px;
}

.rate2 {
  width: 106px;
  height: 21px;
  background-image: url(../images/rate.png);
  background-position: 0px -40px;
}

.rate3 {
  width: 106px;
  height: 21px;
  background-image: url(../images/rate.png);
  background-position: 0px -60px;
}

.rate4 {
  width: 106px;
  height: 21px;
  background-image: url(../images/rate.png);
  background-position: 0px -80px;
}

.rate5 {
  width: 106px;
  height: 21px;
  background-image: url(../images/rate.png);
  background-position: 0px -100px;
}

.like {
  width: 20px;
  height: 20px;
  background-image: url(../images/like.png);
  background-repeat: no-repeat;
  background-position: 2px 2px;
  margin-left: 10px;
}

.unlike {
  width: 20px;
  height: 20px;
  background-image: url(../images/unlike.png);
  background-repeat: no-repeat;
  background-position: 2px 2px;
  margin-left: 10px;
}

.wtitle {
  text-align: center;
  font-size: 20px;
}

.pointer {
  cursor: pointer;
}

.fontB {
  font-weight: bold;
}

.defaultcursor {
  cursor: default;
}

.height5 {
  min-height: 10%;
  border: #ff8200 solid;
}

.centerAlign {
  align-items: center;
}

.fontLarge {
  font-size: larger;
}

.userIconSize {
  width: 30px;
  height: 30px;
}

.user {
  width: 80%;
  margin: auto;
}

.userIcon {
  width: 20%;
}

.userdetails {
  width: 20%;
  display: flex;
  margin: 20px auto;
}

.margin10 {
  margin-right: 10px;
}

td {
  height: 47px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.inlineflex {
  display: inline-flex;
}

.errorMsg {
  color: Red;
}

.marginTop5 {
  margin-top: 5px;
}