@charset "ISO-8859-1";

.myTripContent {
  padding: 20px;
  width: 80%;
  min-height: 540px;
  background-color: white;
}

.textAlignLeft {
  text-align: left;
}

.margin20 {
  margin: 20px 0px;
}

.textStyle {
  font-weight: bold;
  font-size: 20px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.backcategoryBtn {
  margin: auto;
  width: 100%;
}

.checkedIcon {
  width: 25px;
  height: 25px;
}