<!DOCTYPE html>
<html>

<head>
  <title>Destination Anywhere</title>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/indexCSS.css" />
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/404Style.css" />
</head>

<body>
  <h1>Page Not Found</h1><br /><br />
  <img src="http://localhost:8080/assets/images/404.png" alt="404" /><br /><br />
  <div class="backcategoryBtn" onclick="location.href='http://localhost:8080/viewCatalog';">
    Go to Categories
  </div><br /><br />
  <div class="backcategoryBtn" onclick="location.href='http://localhost:8080';">
    Go to Home Page
  </div>

  <% if(errors){ %>
  <br /><br />
  <div class="errorMsg">
    <%= errors.msg %>
  </div>
  <% } %>
</body>

</html>