<head>
	<title>Destination Anywhere</title>
	<link rel="stylesheet" type="text/css" href="assets/stylesheets/indexCSS.css" />
	<link rel="stylesheet" type="text/css" href="assets/stylesheets/aboutUsStyle.css" />
</head>
<div class="aboutUsContent">
	<div class="welcome-outer">
		<div class="welcome">

			<h1>Destination Anywhere - You Choose, We Plan</h1>
			<p class="lead">For more than 35 years Destination Anywhere has
				been serving travelers throughout the world, offering personalized
				service in combination with the best value for your travel dollar.</p>
			<div class="linea"></div>
			<p>The secret to our success lies in our people. We have a
				strong team of travel professionals who have extensive industry
				experience and outstanding customer service skills. Our employees
				average 10 years of service and 30% of our employees have been
				with Destination Anywhere 15 years or longer. What does this mean
				for our clients? You can be assured of dealing with experienced,
				qualified professionals every time you work with us.</p>

			<div class="clear-fix"></div>
		</div>
		<div class="clear-fix"></div>
	</div>
</div>