<div class="homeContent">
  <div>
    <div class="wtitle">
      <p class="">
        Where to, <span class="fontB">adventurer?</span>
      </p>
      <p class="">Check out our top destinations this month</p>
    </div>
  </div>
  <div class="mainTile">
    <div class="grid-item--width2">
      <div class="highlight grid-item grid-title singleLargeTile">
        <h2 class="h2Image">Event Highlights</h2>
      </div>
      <div class="twoTile singleLargeTile">
        <div class="grid-item grid-item--width2 article-box dubaiShopping pointer" onclick="location.href='http://localhost:8080/viewCatalog';">
          <h2>Dubai Shopping Festival</h2>
        </div>
        <div class="grid-item grid-item--width2 article-box franceKite pointer" onclick="location.href='http://localhost:8080/viewCatalog';">
          <h2>France Kite Festival</h2>
        </div>
      </div>
    </div>
    <div class="grid-item grid-item--width2 grid-item--height2 article-large-box saleMalaysia pointer" onclick="location.href='http://localhost:8080/viewCatalog';">
      <h2>Malaysia Super Sale 2019</h2>
    </div>
  </div>


  <div class="mainTile">
    <div class="grid-item grid-item--width2 grid-item--height2 article-large-box germanFest pointer" onclick="location.href='http://localhost:8080/viewCatalog';">
      <h2>Cranger Kirmes folk festival in Germany</h2>
    </div>
    <div class="grid-item--width2">

      <div class="twoTile singleLargeTile">
        <div class="grid-item grid-item--width2 article-box dubaiEid pointer" onclick="location.href='http://localhost:8080/viewCatalog';">
          <h2>Eid Al Fitr in Dubai UAE</h2>
        </div>
        <div class="grid-item grid-item--width2 article-box wesakMal pointer" onclick="location.href='http://localhost:8080/viewCatalog';">
          <h2>Wesak Day Malaysia</h2>
        </div>
      </div>
      <div class="twoTile singleLargeTile">
        <div class="grid-item grid-item--width2 article-box francesummer pointer" onclick="location.href='http://localhost:8080/viewCatalog';">
          <h2>Bastille Day, France</h2>
        </div>
        <div class="grid-item grid-item--width2 article-box germanywine pointer" onclick="location.href='http://localhost:8080/viewCatalog';">
          <h2>Apple Wine Festival, Frankfurt, Germany</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="mainTile">
    <div class="grid-item--width2">
      <div class="grid-item singleLargeTile article-box nationalDay pointer" onclick="location.href='http://localhost:8080/viewCatalog';">
        <h2>UAE National Day at Burj Al Arab</h2>
      </div>
    </div>
    <div class="grid-item--width2">
      <div class="grid-item singleLargeTile article-box colorofMalaysia pointer" onclick="location.href='http://localhost:8080/viewCatalog';">
        <h2>Citrawarna, Colours of Malaysia Festival</h2>
      </div>
    </div>
  </div>

</div>