<head>
  <title>Destination Anywhere</title>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/indexCSS.css" />
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/signinStyle.css" />
</head>

<div class="loginContent">
  <h1>Welcome to Destination Anywhere</h1>
  <p class="marginTop15">Please enter username and password to Sign in.</p>
  <% if(errorMsg.length > 0){ %>
  <div class="errorMsg">
    <%= errorMsg[0].msg %>
  </div>
  <% } %>
  <form action="/authUser" method="POST">
    <div class="flex marginTop15 userInput">
      <div class="width10">
        Username:
      </div>
      <div>
        <input class="textStyle" type="text" name="username" required />
      </div>
    </div>
    <div class="flex marginTop15 userInput">
      <div class="width10">
        Password:
      </div>
      <div>
        <input class="textStyle" type="password" name="password" required />
      </div>
    </div>
    <input type="submit" class="wh5" value="Login">
    <input type="button" class="wh5" value="Register">
  </form>
</div>