<div>
  <div>
    <form id="ratingForm" action="/userProfileController?action=updateRating" method="POST">
      <select name="rating" id='rating' style="width: 120px;">
        <% if(userItem.rating == 1){ %>
        <option value=1 selected="selected">1 Star</option>
        <% }else{ %>
        <option value=1>1 Star</option>
        <% } %>
        <% if(userItem.rating == 2){ %>
        <option value=2 selected="selected">2 Star</option>
        <% }else{ %>
        <option value=2>2 Star</option>
        <% } %>
        <% if(userItem.rating == 3){ %>
        <option value=3 selected="selected">3 Star</option>
        <% }else{ %>
        <option value=3>3 Star</option>
        <% } %>
        <% if(userItem.rating == 4){ %>
        <option value=4 selected="selected">4 Star</option>
        <% }else{ %>
        <option value=4>4 Star</option>
        <% } %>
        <% if(userItem.rating == 5){ %>
        <option value=5 selected="selected">5 Star</option>
        <% }else{ %>
        <option value=5>5 Star</option>
        <% } %>
      </select>
      <input type="hidden" value='<%=query[0].itemCode %>' name="itemCode">
      <input type="hidden" value="<%= query[0].itemShortName %>" name="itemName">
      <input type="hidden" value="<%= query[0].categoryName %>" name="categoryName">
      <input type="hidden" value=false name="visitedFlag">
      <% if(JSON.stringify(userItemDetails) != JSON.stringify({})){ %>
      <% for(var j=0; j<userItemDetails.itemList.length; j++) { %>
      <input type="hidden" name="userItemList" value="<%= userItemDetails.itemList[j].itemCode %>">
      <% } %>
      <input class="button" type="submit" value="Submit Rating">
      <% }else{ %>
      <div class="tooltip"><input class="button" type="submit" value="Submit Rating" disabled="disabled">
        <span class="tooltiptext">Please Sign In</span></div>
      <% } %>

    </form>
  </div>
</div>