<div class="height5 marginTop5">
  <footer class="footerContainer">
    <div class="">
      <div>&#169; Destination Anywhere</div>
      Disclaimer: <br />This website is a school project. Content May not
      be true. Thank you for visiting!
    </div>
  </footer>
</div>