<aside id="leftpanel" class="leftpanel">
  <div class="leftpanelItem" onclick="location.href='http://localhost:8080/';">
    Home <br />
  </div>
  <div class="leftpanelItem" onclick="location.href='http://localhost:8080/viewCatalog';">
    Countries<br />
  </div>
  <div class="leftpanelItem" onclick="location.href='http://localhost:8080/aboutUs';">
    About us<br />
  </div>
  <div class="leftpanelItem" onclick="location.href='http://localhost:8080/contactUs';">
    Contact us<br />
  </div>
</aside>