<div id="headContainer" class="headContainer">
  <header class="mainHeader">
    <div class="innerHeader">
      <img alt="logo" src="http://localhost:8080/assets/images/logo.jpg" class="logo" />
      <div class="titleLabel">
        <h2 class="companyName">Destination Anywhere</h2>
        <h5 class="companyTag">You Choose, We Plan</h5>
      </div>
    </div>
    <!-- <div id="userSignIn" class="userSignIn">Sign in</div> -->
    <div class="userdetails">
      <div class="userIcon">
        <img class="userIconSize" src="http://localhost:8080/assets/images/user.png" alt="userIcon" />
      </div>
      <div class="user">Welcome Dikshali Margaj</div>
    </div>
  </header>
</div>